<div class="row">
    <div class="col">
        <div class="list-item-type">DOC</div>
    </div>
    <div class="col">
        <div class="list-item-content">
            <div class="date">
                <div class="upload-date"><small>Дата загрузки 11.12.2015</small></div>
                <div class="end-date"><small>Срок хранения до 22.12.2015</small></div>
            </div>
            <div class="file-name">Название фаила</div> <span class="file-size">15 mb</span>
            <div class="file-author"><small>Вася петров </small> </div>
        </div>

    </div>
    <div class="col">
        <div class="control-icons">
            <div class="dowdload-icon"></div>
            <div class="remove-icon"></div>
        </div>
    </div>
</div>