.form{
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    label{
        position: absolute;
        bottom: 55px;
        left: 0;
    }
    input, select, option{
        font-size: 16px;
        font-weight: 300;
        border-radius: 2px;
        border: solid 1px #e9e9e9;
    }
    .date-control {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .date-separator{
            margin: 0 .5rem;
        }
    }
    .type-control{
        width: 100%;
        flex-grow: 2;
    }
    .buttons{
        text-align: end;
        button{
            outline: none;
            font-size:13px;
            text-transform: uppercase;
            line-height: 1.69;
            // padding: 14px 25.5px;
            &.clear{
                background-color: inherit;
                color: #87a2e4;
                border: 1px solid #ced4da;
                margin-right: 1rem;
            }
            &.apply{
                background-color: #87a2e4;
            
            }
        }
        
    }
}
