<form class="row form">
        <div class=" col date-control">
            <label> <small>Выберите период</small> </label>
            <input 
                class="form-control  form-control-lg" 
                type="date" 
                [(ngModel)]="filter.dateFrom"
                name="dateFrom"
            >
            <span class="date-separator"> - </span>
            <input 
                class="form-control form-control-lg" 
                type="date" 
                [(ngModel)]="filter.dateTo"
                name="dateTo"
            >
        </div>
        <div class="col-lg-4 type-control">
                <label class="mr-sm-2" for="inlineFormCustomSelect"><small>Выбирите тип</small></label>
                <select 
                    class="custom-select custom-select-lg" 
                    [(ngModel)]="filter.type" 
                    name="type"
                >
                    <option  [ngValue]="'all'">Все</option>
                    <option  *ngFor="let option of options" [ngValue]="option">{{ option }}</option>
                </select>
        </div>
        <div class="col buttons">
            <button  
                class="btn btn-primary btn-lg clear" 
                (click)="clearAll($event)"
            >
                Очистить
            </button>
            <button 
                (click)="filterItems(); $event.preventDefault()"  
                class="btn btn-primary btn-lg apply"
            >
                Применить
            </button>
        </div>
</form>