<form class="form">
    <div class="row">
        <div class="col">
            <div class="date-control">
                <label> <small>Выберите период</small> </label>
                <input class="form-control  form-control-lg " type="date" placeholder="">
                <span class="date-separator"> - </span>
                <input class="form-control  form-control-lg" type="date" placeholder="">
            </div>
        </div>
    </div>
    <div class="col">
    <div class="form-row align-items-center type-control">
        <div class="col">
            <label class="mr-sm-2" for="inlineFormCustomSelect"><small>Выбирите тип</small></label>
            <select class="custom-select custom-select-lg" id="inlineFormCustomSelect">
                <option selected>Все</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    </div>
    <div class="col">
        <div class="buttons">
            <button  class="btn btn-primary btn-lg clear" >Очистить</button>
            <button  class="btn btn-primary btn-lg apply">Применить</button>
        </div>

    </div>
    
</form>