
<div class="row  no-gutters">
    <div class="input-group ">
        <div class="custom-file upload">
            <input 
                type="file" 
                class="custom-file-input" 
                id="file" 
                aria-describedby="inputGroupFileAddon04"
                (change)="handleUpload($event.target.files)"   
            >
            <label class="custom-file-label" for="inputGroupFile04">{{ uploadFile? uploadFile.name : 'Выбрать фаил' }}</label>
        </div>
        <div class="input-group-append">
            <button (click)="submitFile()" class="btn btn-outline-secondary" type="button" [disabled]="!uploadFile">Загрузить</button>
        </div>
    </div>

</div>