.input-group{
    margin-top: 1rem;
    font-size: 13px;
    text-transform: uppercase;
    
    .custom-file-label{
        color: #87a2e4;
    }
    .input-group-append{
        @media screen and (max-width: 320px){
            width: 100%;
        }
        button{
            font-size: 13px;
            @media screen and (max-width: 320px){
                    width: 100%;
                    border-radius: .25rem;
            }
        }
    }
    
}
.custom-file{
    &.upload {
        @media screen and (max-width: 320px){
            width: 100%;
        }
    }
    
} 