/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
body{
    padding: 0;
    margin: 0;
    color: #3f3f3f;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
}
small{
    font-weight: 300;
    color:rgba(63, 63, 63, 0.6);
}